h1{
    text-transform: uppercase; /*maiusculas*/
}

h2 {
    text-transform: lowercase; /*minusculas*/
}

.credits {
    text-transform: capitalize; /*primeira letra de cada palava fica maiusculas*/
}
