body{
    font-family: Arial, Verdana, sans-serif;
    color: #111111;
    font-size: 90%;
    line-height: 1.2em;
    width: 200px; /*largura*/
}

h2{
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}

p{
    min-height: 30px;
    max-height: 85px;
}

p.one{
    overflow: hidden;
}

p.two{
    overflow: scroll;
}