input {
    padding: 6px 12px 6px 12px;
    border: 1px solid #665544;
    color: #ffffff;
}

input.submit:hover {
    background-color: #665544;
}

input.submit:active {
    background-color: chocolate;
}

input.text {
    color: #cccccc;
}

input.text:focus {
    color:#665544;
}